word-cloud-be/vendor/
word-cloud-be/**/*.log
word-cloud-be/**/*.sqlite
word-cloud-be/.idea/
word-cloud-be/bin/
word-cloud-be/tmp/
word-cloud-be/node_modules/
word-cloud-be/.sass-cache/
word-cloud-be/public/assets/
word-cloud-be/.vscode/
word-cloud-be/.grifter/
word-cloud-be/.env
word-cloud-be/**/.DS_Store
word-cloud-be/*.pid
word-cloud-be/coverage
word-cloud-be/coverage.data
word-cloud-be/.svn
word-cloud-be/.console_history
word-cloud-be/.sass-cache/*
word-cloud-be/.jhw-cache/
word-cloud-be/jhw.*
word-cloud-be/*.sublime*
word-cloud-be/dist/
word-cloud-be/generated/
word-cloud-be/.vendor/
word-cloud-be/.pnp.*
word-cloud-be/.yarn/*
word-cloud-be/!.yarn/patches
word-cloud-be/!.yarn/plugins
word-cloud-be/!.yarn/releases
word-cloud-be/!.yarn/sdks
word-cloud-be/!.yarn/versions


word-cloud-frontend/node_modules/